@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #d9d9d9;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  height: 100%;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}
